In [1]:
import pandas as pd

In [2]:
df_agg = pd.read_csv('../data/aggregate/aggregated_1752099016.csv.gz')
df_agg.head()

,coin,err,algo_time,algo,block,prep_time,n_nodes,n_edges,top_coin_count,avg_time,is_timeout,is_failed
0,0xc944e90c64b2c07662a292be6244bdf05cda44a7,exception: Negative cycle detected.,0.737254,bf,22820266,0.000001,1000,4414,1000,0.737254,False,True
1,0x9e9fbde7c7a83c43913bddc8779158f1368f0413,exception: Negative cycle detected.,0.720065,bf,22820266,0.000001,1000,4414,1000,NaN,False,True
2,0xfdd070e34cbd0923d307f3af481be5bddac4f487,exception: Negative cycle detected.,0.741767,bf,22820266,0.000001,1000,4414,1000,NaN,False,True
3,0xfe0c30065b384f05761f15d0cc899d4f9f9cc0eb,exception: Negative cycle detected.,0.735582,bf,22820266,0.000001,1000,4414,1000,NaN,False,True
4,0x990f341946a3fdb507ae7e52d17851b87168017c,exception: Negative cycle detected.,0.891082,bf,22820266,0.000001,1000,4414,1000,NaN,False,True

In [ ]:
# Filter out failed and timeout rows for average_time calculation
# filtered_df = df_agg[~df_agg['is_failed'] & ~df_agg['is_timeout']]
filtered_df = df_agg[~df_agg['is_timeout']]
# filtered_df = df_agg
summary = df_agg.groupby(['top_coin_count', 'algo']).agg(
    query_count=('coin', 'count'),
    timeout_count=('is_timeout', 'sum'),
    failed_count=('is_failed', 'sum')
).reset_index()
avg_time = filtered_df.groupby(['top_coin_count', 'algo'])['avg_time'].mean().reset_index()
summary = summary.merge(avg_time, on=['top_coin_count', 'algo'], how='left').rename(columns={'avg_time': 'average_time'})
print(summary)

    top_coin_count  algo  query_count  timeout_count  failed_count  \
0              100    bf       100100              0         97097
1              100  mmbf       100100              0             0
2              100  ours       100100              0             0
3             1000    bf       100100              0         98742
4             1000  mmbf       100000         100000             0
5             1000  ours       100100              0             0
6            10000    bf       100100          99074           378
7            10000  mmbf       100000         100000             0
8            10000  ours       100100              0             0
9           100000    bf       100100          99448            31
10          100000  mmbf       100000         100000             0
11          100000  ours       100100              0             0

    average_time
0       0.015918
1       2.904499
2       0.000244
3       0.763823
4            NaN
5       0.002190
6       0.505750
7            NaN
8       0.018878
9       0.829595
10           NaN
11      0.261108